@using Baski.Configuration
@using Baski.Helpers
@model Baski.ViewModels.ArticleViewModel

<hr class="half-margins" />
<!-- separator -->
<!-- article summary -->
<div class="row">
    <div class="col-md-4 text-center">
        @if (Model.HasVideo)
        {
            <iframe width="800" height="450" src="@Model.VideoUrl" frameborder="0" allowfullscreen></iframe>
        }
        else if (Model.HasImage)
        {
            <img class="img-responsive" src="@Model.ImageUrl" />
        }

    </div>
    <div class="col-md-8">
        <h4><a class="styleColor" href="/Article/@Model.Id">@Model.Title</a></h4>
        <p>
            @Model.Paragraphs.FirstOrDefault().ToMvcHtmlString();
            <small class="block styleSecondColor">@Model.Date</small>
        </p>

    </div>
</div>
<!-- /article summary -->
