@model Baski.Orm.Models.Widget

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование</h2>

@using (Html.BeginForm("Edit", "Widgets", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.Id"/>
    <div class="form-horizontal">
        <h4>Статьи</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2" for="Title">Название виджета</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Text">Содержимое</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.InnerHtml, new { @class = "form-control", @rows = "15" })
                @Html.ValidationMessageFor(model => model.InnerHtml)
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>
